#root, body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
  background-color: #1e1e1e;
}

.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.upload-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw; 
  height: 100vh;
  color: white;
  font-family: sans-serif;
}

.upload-screen h1 { margin-bottom: 10px; }

.upload-screen p { margin-bottom: 30px; color: #aaa; }

input[type="file"] { display: none; }

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 12px 24px;
  background-color: #2638fb;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

