.calibration-overlay{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.calibration-dot1{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ff1e00;
  position: fixed;
  top: 0;
  left: 0;
}

.close-btn {
  background: transparent;
  border: none;
  color: #888;
  font-size: 30px;
  padding: 5px;
}

.close-btn:hover {
  color: #fff;
}

.calibration-dot2{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ff1e00;
  position: fixed;
  top: 0;
  right: 0;
}

.calibration-dot3{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ff1e00;
  position: fixed;
  bottom: 0;
  right: 0;
}

.calibration-dot4{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ff1e00;
  position: fixed;
  bottom: 0;
  left: 0;
}

.calibration-dot5{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ff1e00;
  position: fixed;
  top: 50%;
  right: 50%;
}

.text{
  position: fixed;
  top: 40%;
  right: 33%;
}

.pdf-screen {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.pdf-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.pdf-viewer {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.ai-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.explanation-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}

.loader {
  width: 40px;
  height: 40px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border-top-color: #dc9de7;
  animation: spin 1s ease-in-out infinite;

  margin: auto;
}

.explanation-container {
  background-color: #252526;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 8px;
  overflow-y: auto;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.show-explanation .explanation-container{
    width: 40vw;
    white-space: normal;
}

.show-explanation .pdf-container{
    width: 60vw;
    white-space: normal;
}


.tracker-area {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  background: linear-gradient(
    to bottom,
    rgba(220, 157, 231, 0.15),
    rgba(220, 157, 231, 0.05)
  );

  border-top: 2px solid rgba(220, 157, 231, 0.7);
  border-bottom: 2px solid rgba(220, 157, 231, 0.7);

  border-radius: 8px;

  box-shadow: 0 0 15px rgba(220, 157, 231, 0.2);

  pointer-events: none;
  z-index: 10;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}


#webgazerVideoContainer {
  top: 75% !important;
  left: 10% !important;

  position: fixed;
}
